  
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li class="active"><a href="/Home/About">درباره ما</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- About Main Area Start -->
        <div class="about-main-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-12">
						<div class="about-img">
							<img class="img" src="@Azimzadeh_MVC_project.Models.SiteSettingsHelper.AboutImage" alt="درباره ما">
						</div>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="about-content">
							<h3>چرا ما؟</h3>
							<p>فروشگاه ابزارآلات جانتریک با بیش از ۱۰ سال سابقه درخشان در زمینه عرضه انواع ابزارآلات دستی و برقی صنعتی، همواره در تلاش است تا با کیفیت‌ترین کالاها را با مناسب‌ترین قیمت به مشتریان عزیز خود ارائه کند. ما اصالت کالا و رضایت شما را تضمین می‌کنیم.</p> <br>
                            <p>ارسال سریع، ضمانت بازگشت وجه ۷ روزه و پشتیبانی پاسخگو از ویژگی‌های اصلی خدمات ماست تا تجربه خرید امن و مطمئنی را برای شما رقم بزنیم.</p>
							<ul class="mt-20 about-content-list">
								<li><a href="#">تنوع بی‌نظیر ابزارآلات صنعتی و کارگاهی</a></li>
								<li><a href="#">همکاری با برندهای مطرح جهانی</a></li>
								<li><a href="#">تیم پشتیبانی فنی مجرب و پاسخگو</a></li>
								<li><a href="#">ارسال سریع به سراسر کشور و بسته‌بندی ایمن</a></li>
								<li><a href="#">ضمانت اصالت و سلامت فیزیکی کالاها</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
       <!-- About Main Area End -->
        <!-- Our Mission Start -->
        <div class="about-bottom pt-50 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="ht-single-about pb-sm-40">
                            <h3>تجربیات ما</h3>
                            <h5>سابقه همکاری با برترین پروژه‌های عمرانی و صنعتی کشور</h5>
                            <p>تیم متخصص ما آماده همکاری با شرکت‌های دولتی و خصوصی جهت تامین ابزارآلات پروژه‌ها به صورت عمده و تک است. ما با مشاوره رایگان خرید، مناسب‌ترین گزینه‌ها را بر اساس نیاز و بودجه شما معرفی می‌کنیم.</p>
                            <p>تمامی کالاهای ارائه شده در فروشگاه ما دارای استانداردهای معتبر جهانی و گارانتی اصالت کالا می‌باشند.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="ht-single-about">
                            <h3>ویژگی‌های متمایز ما</h3>
                            <div class="ht-about-work">
                                <span>۱</span>
                                <div class="ht-work-text">
                                    <h5><a href="#">تنوع کالاها و برندهای اورجینال</a></h5>
                                    <p>دسترسی به صدها کالای اورجینال از معتبرترین برندهای جهان نظیر بوش، ماکیتا و غیره.</p>
                                </div>
                            </div>
                            <div class="ht-about-work">
                                <span>۲</span>
                                <div class="ht-work-text">
                                    <h5><a href="#">ضمانت ۷ روزه تعویض یا بازگشت کالا</a></h5>
                                    <p>امکان بازگشت کالا در صورت عدم رضایت مشتری تا ۷ روز بر اساس شرایط قانونی.</p>
                                </div>
                            </div>
                            <div class="ht-about-work">
                                <span>۳</span>
                                <div class="ht-work-text">
                                    <h5><a href="#">مشاوره تخصصی و فنی خرید</a></h5>
                                    <p>پشتیبانی کامل و راهنمایی تخصصی جهت انتخاب بهترین ابزار متناسب با نیاز پروژه شما.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Mission End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        