 
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/Home/Account">حساب کاربری</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- My حساب کاربری Start Here -->
        <div class="my-account white-bg pb-60">
            <div class="container">
                <div class="account-dashboard">
                   <div class="dashboard-upper-info">
                       <div class="row no-gutters align-items-center">
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p class="user-name">سلام <span>yourmail@info</span></p>
                                   <p>(شما نیستید؟ <a href="/Home/Login">خروج</a>)</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>نیاز به راهنمایی دارید؟ پشتیبانی مشتریان:</p>
                                   <p>admin@example.com</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>پشتیبانی ایمیل:</p>
                                   <p>support@example.com</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info text-center">
                                   <a class="view-cart" href="/Home/Cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>مشاهده سبد خرید</a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <!-- Nav tabs -->
                            <ul class="nav flex-column dashboard-list" role="tablist">
                                <li><a class="active" data-toggle="tab" href="#dashboard">داشبورد</a></li>
                                <li><a data-toggle="tab" href="#orders">سفارش‌ها</a></li>
                                <li><a data-toggle="tab" href="#downloads">دانلودها</a></li>
                                <li><a data-toggle="tab" href="#addresses">آدرس‌ها</a></li>
                                <li><a data-toggle="tab" href="#account-details">جزئیات حساب کاربری</a></li>
                                <li><a href="/Home/Login">خروج</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content mt-all-40">
                                <div id="dashboard" class="tab-pane active">
                                    <h3>داشبورد </h3>
                                    <p>از طریق داشبورد حساب کاربری خود می‌توانید به راحتی <a href="#">سفارش‌های اخیر</a> را بررسی و مشاهده کنید، <a href="#">آدرس‌های ارسال و پرداخت</a> خود را مدیریت کنید و <a href="#">رمز عبور و جزئیات حساب خود را ویرایش کنید</a>.</p>
                                </div>
                                <div id="orders" class="tab-pane fade">
                                    <h3>سفارش‌ها</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>سفارش</th>
                                                    <th>تاریخ</th>
                                                    <th>وضعیت</th>
                                                    <th>مجموع</th>
                                                    <th>عملیات</th>	 	 	 	
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>۱۰ مه ۲۰۱۸</td>
                                                    <td>در حال پردازش</td>
                                                    <td>25.00 ریال برای ۱ کالا </td>
                                                    <td><a class="view" href="/Home/Cart">مشاهده</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>۱۰ مه ۲۰۱۸</td>
                                                    <td>در حال پردازش</td>
                                                    <td>17.00 ریال برای ۱ کالا </td>
                                                    <td><a class="view" href="/Home/Cart">مشاهده</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="downloads" class="tab-pane fade">
                                    <h3>دانلودها</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>محصول</th>
                                                    <th>دانلودها</th>
                                                    <th>تاریخ انقضا</th>
                                                    <th>دانلود</th>	 	 	 	
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>نام محصول در اینجا</td>
                                                    <td>۱۰ مه ۲۰۱۸</td>
                                                    <td>هرگز</td>
                                                    <td><a class="view" href="#">برای دانلود فایل کلیک کنید</a></td>
                                                </tr>
                                                <tr>
                                                    <td>نام محصول در اینجا</td>
                                                    <td>۱۱ سپتامبر ۲۰۱۸</td>
                                                    <td>هرگز</td>
                                                    <td><a class="view" href="#">برای دانلود فایل کلیک کنید</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="addresses" class="tab-pane">
                                    <p>آدرس‌های زیر به صورت پیش‌فرض در صفحه تسویه حساب استفاده خواهند شد.</p>
                                    <h4 class="billing-address">آدرس پرداخت</h4>
                                    <a class="view" href="#">ویرایش</a>
                                    <p>استیون اسمیت</p>
                                    <p>استرالیا</p>   
                                </div>
                                <div id="account-details" class="tab-pane fade">
                                    <h3>جزئیات حساب کاربری </h3>
                                    <div class="register-form login-form clearfix">
                                        <form action="#">
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-3 col-md-4 col-form-label">عنوان</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <span class="custom-radio"><input name="id_gender" value="1" type="radio"> آقای.</span>
                                                    <span class="custom-radio"><input name="id_gender" value="1" type="radio"> خانم.</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="f-name" class="col-lg-3 col-md-4 col-form-label">نام</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="f-name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="l-name" class="col-lg-3 col-md-4 col-form-label">نام خانوادگی</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="l-name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-lg-3 col-md-4 col-form-label">آدرس ایمیل</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputpassword" class="col-lg-3 col-md-4 col-form-label">رمز عبور فعلی</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="password" class="form-control" id="inputpassword">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="newpassword" class="col-lg-3 col-md-4 col-form-label">رمز عبور جدید</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="password" class="form-control" id="newpassword">
                                                    <button class="btn show-btn" type="button">نمایش</button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="v-password" class="col-lg-3 col-md-4 col-form-label">تکرار رمز عبور</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="password" class="form-control" id="c-password">
                                                    <button class="btn show-btn" type="button">نمایش</button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="birth" class="col-lg-3 col-md-4 col-form-label">تاریخ تولد</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="birth" placeholder="روز/ماه/سال">
                                                </div>
                                            </div>
                                            <div class="form-check row p-0 mt-20">
                                                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4">
                                                    <input class="form-check-input" value="#" id="offer" type="checkbox">
                                                    <label class="form-check-label" for="offer">دریافت پیشنهادات ویژه از همکاران تجاری ما</label>
                                                </div>
                                            </div>
                                            <div class="form-check row p-0 mt-20">
                                                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4">
                                                    <input class="form-check-input" value="#" id="subscribe" type="checkbox">
                                                    <label class="form-check-label" for="subscribe">عضویت در خبرنامه ما<br>با عضویت در خبرنامه ما، از جدیدترین محصولات، تخفیف‌ها و پیشنهادات انحصاری باخبر شوید.</label>
                                                </div>
                                            </div>
                                            <div class="register-box mt-40">
                                                <button type="submit" class="return-customer-btn f-right">ذخیره تغییرات</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My حساب کاربری End Here -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        