 
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li class="active"><a href="/Home/Blog">وبلاگ</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- وبلاگ Area Start -->
        <div class="blog-page pb-60">
            <div class="container">
                <!-- Row End -->
                <div class="row">
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/1.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/2.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/3.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/4.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/5.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/6.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/7.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/8.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                    <!-- Single وبلاگ Start -->                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="/Home/BlogDetails"><img src="/assets/img/blog/9.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single وبلاگ End -->
                </div>
                <!-- Row End -->
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="blog-pagination pt-20">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <!-- End of .blog-pagination -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- وبلاگ Area End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        