  
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/Home/Blog">وبلاگ</a></li>
                        <li class="active"><a href="/Home/BlogDetails">جزئیات وبلاگ</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- وبلاگ Area Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="row">
                    <!-- Main وبلاگ Start -->
                    <div class="col-lg-8">
                        <!-- وبلاگ Details Start -->
                        <div class="blog-details">
                            <div class="blog-img">
                                <img src="/assets/img/blog/details.jpg" alt="blog-image">
                            </div>
                            <div class="blog-content">
                                <h1>Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</h1>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                        <li><span>تاریخ: </span> <a href="#">05 May, 2018</a></li>
                                    </ul>
                                </div>
                                <p class="mb-20">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,</p>
                                <blockquote class="mb-30"> <p>تاریخ: the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms with righteous indignation and dislike.</p><span>Christine Rios</span></blockquote>
                                <p class="mb-20">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <p class="mb-20">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <div class="blog-img blog-single-img">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/assets/img/products/1.jpg" alt="blog-image">
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="/assets/img/products/2.jpg" alt="blog-image">
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="/assets/img/products/3.jpg" alt="blog-image">
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-20">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <!--  وبلاگ-Share Start  -->
                                <div class="blog-share mtb-50">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-6">
                                            <span class="pull-left category-text">دسته‌بندی‌ها: </span>
                                            <ul class="list-inline">
                                                <li><a href="#"> ابزارآلات</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-8 col-md-7 col-sm-6">
                                            <div class="social-links text-right">
                                                <ul class="social-link-list">
                                                    <li>اشتراک‌گذاری:</li>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-reddit"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Row -->
                                </div>
                                </div>
                                <!--  وبلاگ-Share End  -->
                                <!--  وبلاگ-Pager Start  -->
                                <div class="blog-pager">
                                    <ul class="pager">
                                        <li class="previous"><a href="#"><i class="zmdi zmdi-chevron-left"></i>مطلب قبلی</a></li>
                                        <li class="next"><a href="#">مطلب بعدی<i class="zmdi zmdi-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                                <!--  وبلاگ-Pager End  -->
                        </div>
                        <!-- وبلاگ Details End -->
                        <!-- وبلاگ Realated Post Start -->
                        <div class="blog-related-post recent-post mtb-50">
                            <h3 class="sidebar-title">مطالب مرتبط وبلاگ</h3>
                            <div class="blog-related-post-active owl-carousel">
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/1.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik,</a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/2.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik, </a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/3.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik, </a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/1.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik, </a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/2.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik, </a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                                <!-- Single وبلاگ Start -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/Home/BlogDetails"><img src="/assets/img/blog/3.jpg" alt="blog-image"></a>
                                    </div>
                                    <div class="blog-content">
                                            <h4 class="blog-title"><a href="/Home/BlogDetails">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>نویسنده: </span> <a href="#">Jantrik, </a></li>
                                                <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                            </ul>
                                        </div>
                                        <div class="readmore">
                                            <a href="/Home/BlogDetails">ادامه مطلب.....</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single وبلاگ End -->
                            </div>
                        </div>
                        <!-- وبلاگ Realated Post Start -->
                        <!-- Comment Area Start -->
                        <div class="comment-area recent-post">
                            <h3 class="sidebar-title">۱ دیدگاه</h3>
                            <!-- Single Comment Start -->
                            <div class="single-comment">
                                <div class="comment-img f-left pr-30">
                                    <img src="/assets/img/blog/user.jpg" alt="blog-comment">
                                </div>
                                <div class="comment-details fix">
                                    <h4><a href="#">رایس جانی</a></h4>
                                    <span>۱۹ مرداد ۱۳۹۷ در ۱۱:۰۸ قبل از ظهر</span>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <a class="reply" href="#">پاسخ</a>
                            </div>
                            <!-- Single Comment End -->
                        </div>
                        <!-- Comment Area End -->
                        <!-- Contact Email Area Start -->
                        <div class="blog-detail-contact">
                            <h3>ارسال یک دیدگاه</h3>
                            <p class="text-capitalize mb-40">دیدگاه خود را با ما در میان بگذارید. آدرس ایمیل شما منتشر نخواهد شد.</p>
                            <form id="contact-form" class="contact-form" action="#" method="post">
                                <div class="آدرس‌ها-wrapper">
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="آدرس‌ها-fname">
                                                <input type="text" name="name" placeholder="نام">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="آدرس‌ها-email">
                                                <input type="email" name="email" placeholder="ایمیل">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="آدرس‌ها-web">
                                                <input type="text" name="website" placeholder="وب‌سایت">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="آدرس‌ها-subject">
                                                <input type="text" name="subject" placeholder="موضوع">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="آدرس‌ها-textarea">
                                                <textarea name="message" placeholder="دیدگاه خود را بنویسید..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="form-message ml-15"></p>
                                <div class="col-xs-12 footer-content mail-content">
                                    <div class="send-email pull-right">
                                        <input type="submit" value="ارسال دیدگاه" class="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Contact Email Area End -->
                    </div>
                    <!-- Main وبلاگ End -->
                    <!-- Sidebar Main وبلاگ Start -->
                    <div class="col-lg-4">
                        <div class="main-right-sidebar border-default universal-padding">
                            <!-- Recent Post Start -->
                            <div class="recent-post pt-30 same-sidebar">
                                <h3 class="sidebar-title">مطالب اخیر</h3>
                                <ul>
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20 mb-20">
                                            <a href="#"><img class="img" src="/assets/img/products/1.jpg" alt="latest-post-imgae"></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                            <span>۱۹ مرداد ۱۳۹۷</span>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20 mb-20">
                                            <a href="#"><img class="img" src="/assets/img/products/2.jpg" alt="latest-post-imgae"></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                            <span>۱۹ مرداد ۱۳۹۷</span>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20 mb-20">
                                            <a href="#"><img class="img" src="/assets/img/products/3.jpg" alt="latest-post-imgae"></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <div class="right-post-thumb">
                                                <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                                <span>۱۹ مرداد ۱۳۹۷</span>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20">
                                            <a href="#"><img class="img" src="/assets/img/products/4.jpg" alt="latest-post-imgae"></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                            <span>۱۹ مرداد ۱۳۹۷</span>
                                        </div>
                                    </li>
                                     <!-- Singel Post Thumb End -->
                                </ul>
                            </div>
                            <!-- Recent Post End -->
                            <!-- Category Post Start -->
                            <div class="categorie recent-post same-sidebar">
                                 <h3 class="sidebar-title mt-40">دسته‌بندی‌ها</h3>
                                 <ul class="categorie-list">
                                     <li><a href="#">دستگاه‌های الکتریکی</a></li>
                                     <li><a href="#">ابزارآلات سخت‌افزاری</a></li>
                                     <li><a href="#">دستگاه دریل</a></li>
                                     <li><a href="#">جعبه ابزار</a></li>
                                     <li><a href="#">اره برقی</a></li>
                                 </ul>
                            </div>
                            <!-- Category Post End -->
                            <!-- Meta Post Start -->
                            <div class="categorie recent-post same-sidebar">
                                 <h3 class="sidebar-title mt-40">سایر موارد</h3>
                                 <ul class="categorie-list">
                                     <li><a href="/Home/Login">ورود</a></li>
                                     <li><a href="#">خوراک نوشته‌ها <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                     <li><a href="#">خوراک دیدگاه‌ها <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                     <li><a href="#">WordPress.org</a></li>
                                 </ul>
                            </div>
                            <!-- Meta Post End -->
                            <!-- Meta Post Start -->
                            <div class="categorie recent-post same-sidebar">
                                 <h3 class="sidebar-title mt-40">برچسب‌ها</h3>
                                 <ul class="tag-list">
                                     <li><a href="#">ابزارها</a></li>
                                     <li><a href="#">دستگاه</a></li>
                                     <li><a href="#">سخت‌افزار</a></li>
                                     <li><a href="#">الکترونیک</a></li>
                                     <li><a href="#">دریل</a></li>
                                     <li><a href="#">اره برقی</a></li>
                                 </ul>
                            </div>
                            <!-- Meta Post End -->
                        </div>
                    </div>
                    <!-- Sidebar Main وبلاگ End -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- وبلاگ Area End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        