 
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li class="active"><a href="/Home/Login">ورود</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- LogIn Page Start -->
        <div class="log-in pb-60">
            <div class="container">
                <div class="row">
                    <!-- جدیدترین‌ها Customer Start -->
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="new-customer">
                                <h3>مشتری جدید</h3>
                                <p class="mtb-10"><strong>ثبت نام حساب کاربری</strong></p>
                                <p>با ایجاد یک حساب کاربری می‌توانید سریع‌تر خرید کنید، وضعیت سفارش خود را پیگیری کنید و سفارش‌های قبلی خود را مشاهده و پیگیری کنید.</p>
                                <a class="customer-btn" href="/Home/Register">ادامه</a>
                            </div>
                        </div>
                    </div>
                    <!-- جدیدترین‌ها Customer End -->
                    <!-- Returning Customer Start -->
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="return-customer">
                                <h3 class="mb-10">مشتری قبلی</h3>
                                <p class="mb-10"><strong>من یک مشتری ثبت‌نام‌شده هستم</strong></p>
                                <form action="#">
                                    <div class="form-group">
                                        <label class="control-label">آدرس ایمیل</label>
                                        <input type="text" name="email" placeholder="آدرس ایمیل خود را وارد کنید..." id="input-email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">رمز عبور</label>
                                        <input type="password" name="pass" placeholder="رمز عبور" id="input-password" class="form-control">
                                    </div>
                                    <p class="lost-password"><a href="/Home/ForgotPassword">رمز عبور خود را فراموش کرده‌اید؟</a></p>
                                    <input type="submit" value="ورود" class="return-customer-btn">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Returning Customer End -->
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- LogIn Page End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        